{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <div class="jumbotron">
                <div class="row">
                        {{ errors }}
                        <form action="register" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Зарегистрироваться</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}